<div class="page-header">
	<h1>Alle Ergebnisse</h1>
</div>

<div class="row">&nbsp;</div>
<div class="row" id="row-1" ng-show="showAll">
	<div class="col-md-5">
	<h2>Damen Gesamt</h2>
		<div loading-container="allLady.settings().$loading" class="row">
		    <table ng-table="allLady" class="table table-striped table-hover table-bordered">
		        <tr ng-repeat="result in $data">
		            <td data-title="'Pos.'"  class="text-center">{{$index + 1}}</td>
		            <td data-title="'Vorname'"  class="text-center">{{result.firstName}}</td>
		            <td data-title="'Nachname'"  class="text-center">{{result.lastName}}</td>
		            <td data-title="'Loch'"  class="text-center">{{result.currentHole}}</td>
		            <!-- <td data-title="'Konkurrenz'"  class="text-center">{{result.discipline}}</td>
		            <td data-title="'1.Runde'"  class="text-center">{{result.firstRound}}</td>
		            <td data-title="'2.Runde'"  class="text-center">{{result.secondRound}}</td>
		            <td data-title="'3.Runde'"  class="text-center">{{result.thirdRound}}</td> -->
		            <td data-title="'Gesamt'" sortable="'complete'" class="text-center">{{result.firstRound + result.secondRound + result.thirdRound}}</td>
		        </tr>
		    </table>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<h2>Herren Gesamt</h2>
		<div loading-container="allMen.settings().$loading" class="row">
		    <table ng-table="allMen" class="table table-striped table-hover table-bordered">
		        <tr ng-repeat="result in $data">
		            <td data-title="'Pos.'"  class="text-center">{{$index + 1}}</td>
		            <td data-title="'Vorname'"  class="text-center">{{result.firstName}}</td>
		            <td data-title="'Nachname'"  class="text-center">{{result.lastName}}</td>
		            <td data-title="'Loch'"  class="text-center">{{result.currentHole}}</td>
		            <!-- <td data-title="'Konkurrenz'"  class="text-center">{{result.discipline}}</td>
		            <td data-title="'1.Runde'"  class="text-center">{{result.firstRound}}</td>
		            <td data-title="'2.Runde'"  class="text-center">{{result.secondRound}}</td>
		            <td data-title="'3.Runde'"  class="text-center">{{result.thirdRound}}</td> -->
		            <td data-title="'Gesamt'" sortable="'complete'" class="text-center">{{result.firstRound + result.secondRound + result.thirdRound}}</td>
		        </tr>
		    </table>
		</div>
	</div>
</div>
<div class="row" id="row-1" ng-show="showActive">
	<div class="col-md-5">
	<h2>Damen</h2>
		<div loading-container="activesLady.settings().$loading" class="row">
		    <table ng-table="activesLady" class="table table-striped table-hover table-bordered">
		        <tr ng-repeat="result in $data">
		            <td data-title="'Pos.'"  class="text-center">{{$index + 1}}</td>
		            <td data-title="'Vorname'"  class="text-center">{{result.firstName}}</td>
		            <td data-title="'Nachname'"  class="text-center">{{result.lastName}}</td>
		            <td data-title="'Loch'"  class="text-center">{{result.currentHole}}</td>
		            <!-- <td data-title="'Konkurrenz'"  class="text-center">{{result.discipline}}</td>
		            <td data-title="'1.Runde'"  class="text-center">{{result.firstRound}}</td>
		            <td data-title="'2.Runde'"  class="text-center">{{result.secondRound}}</td>
		            <td data-title="'3.Runde'"  class="text-center">{{result.thirdRound}}</td> -->
		            <td data-title="'Gesamt'" sortable="'complete'" class="text-center">{{result.firstRound + result.secondRound + result.thirdRound}}</td>
		        </tr>
		    </table>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<h2>Herren</h2>
		<div loading-container="activesMen.settings().$loading" class="row">
		    <table ng-table="activesMen" class="table table-striped table-hover table-bordered">
		        <tr ng-repeat="result in $data">
		            <td data-title="'Pos.'"  class="text-center">{{$index + 1}}</td>
		            <td data-title="'Vorname'"  class="text-center">{{result.firstName}}</td>
		            <td data-title="'Nachname'"  class="text-center">{{result.lastName}}</td>
		            <td data-title="'Loch'"  class="text-center">{{result.currentHole}}</td>
		            <!-- <td data-title="'Konkurrenz'"  class="text-center">{{result.discipline}}</td>
		            <td data-title="'1.Runde'"  class="text-center">{{result.firstRound}}</td>
		            <td data-title="'2.Runde'"  class="text-center">{{result.secondRound}}</td>
		            <td data-title="'3.Runde'"  class="text-center">{{result.thirdRound}}</td> -->
		            <td data-title="'Gesamt'" sortable="'complete'" class="text-center">{{result.firstRound + result.secondRound + result.thirdRound}}</td>
		        </tr>
		    </table>
		</div>
	</div>
</div>

<div class="row"  ng-show="showAk35">
	<div class="col-md-5">
	<h2>AK35 Damen</h2>
		<div loading-container="ak35Lady.settings().$loading" class="row">
		    <table ng-table="ak35Lady" class="table table-striped table-hover table-bordered">
		        <tr ng-repeat="result in $data">
		            <td data-title="'Pos.'"  class="text-center">{{$index + 1}}</td>
		            <td data-title="'Vorname'"  class="text-center">{{result.firstName}}</td>
		            <td data-title="'Nachname'"  class="text-center">{{result.lastName}}</td>
		            <td data-title="'Loch'"  class="text-center">{{result.currentHole}}</td>
		            <!-- <td data-title="'Konkurrenz'"  class="text-center">{{result.discipline}}</td>
		            <td data-title="'1.Runde'"  class="text-center">{{result.firstRound}}</td>
		            <td data-title="'2.Runde'"  class="text-center">{{result.secondRound}}</td>
		            <td data-title="'3.Runde'"  class="text-center">{{result.thirdRound}}</td> -->
		            <td data-title="'Gesamt'" sortable="'complete'" class="text-center">{{result.firstRound + result.secondRound + result.thirdRound}}</td>
		        </tr>
		    </table>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<h2>AK35 Herren</h2>
		<div loading-container="ak35Men.settings().$loading" class="row">
		    <table ng-table="ak35Men" class="table table-striped table-hover table-bordered">
		        <tr ng-repeat="result in $data">
		            <td data-title="'Pos.'"  class="text-center">{{$index + 1}}</td>
		            <td data-title="'Vorname'"  class="text-center">{{result.firstName}}</td>
		            <td data-title="'Nachname'"  class="text-center">{{result.lastName}}</td>
		            <td data-title="'Loch'"  class="text-center">{{result.currentHole}}</td>
		            <!-- <td data-title="'Konkurrenz'"  class="text-center">{{result.discipline}}</td>
		            <td data-title="'1.Runde'"  class="text-center">{{result.firstRound}}</td>
		            <td data-title="'2.Runde'"  class="text-center">{{result.secondRound}}</td>
		            <td data-title="'3.Runde'"  class="text-center">{{result.thirdRound}}</td> -->
		            <td data-title="'Gesamt'" sortable="'complete'" class="text-center">{{result.firstRound + result.secondRound + result.thirdRound}}</td>
		        </tr>
		    </table>
		</div>
	</div>
</div>

<div class="row"  ng-show="showAk50">
	<div class="col-md-5">
	<h2>AK50 Damen</h2>
		<div loading-container="ak50Lady.settings().$loading" class="row">
		    <table ng-table="ak50Lady" class="table table-striped table-hover table-bordered">
		        <tr ng-repeat="result in $data">
		            <td data-title="'Pos.'"  class="text-center">{{$index + 1}}</td>
		            <td data-title="'Vorname'"  class="text-center">{{result.firstName}}</td>
		            <td data-title="'Nachname'"  class="text-center">{{result.lastName}}</td>
		            <td data-title="'Loch'"  class="text-center">{{result.currentHole}}</td>
		            <!-- <td data-title="'Konkurrenz'"  class="text-center">{{result.discipline}}</td>
		            <td data-title="'1.Runde'"  class="text-center">{{result.firstRound}}</td>
		            <td data-title="'2.Runde'"  class="text-center">{{result.secondRound}}</td>
		            <td data-title="'3.Runde'"  class="text-center">{{result.thirdRound}}</td> -->
		            <td data-title="'Gesamt'" sortable="'complete'" class="text-center">{{result.firstRound + result.secondRound + result.thirdRound}}</td>
		        </tr>
		    </table>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<h2>AK50 Herren</h2>
		<div loading-container="ak50Men.settings().$loading" class="row">
		    <table ng-table="ak50Men" class="table table-striped table-hover table-bordered">
		        <tr ng-repeat="result in $data">
		            <td data-title="'Pos.'"  class="text-center">{{$index + 1}}</td>
		            <td data-title="'Vorname'"  class="text-center">{{result.firstName}}</td>
		            <td data-title="'Nachname'"  class="text-center">{{result.lastName}}</td>
		            <td data-title="'Loch'"  class="text-center">{{result.currentHole}}</td>
		            <!-- <td data-title="'Konkurrenz'"  class="text-center">{{result.discipline}}</td>
		            <td data-title="'1.Runde'"  class="text-center">{{result.firstRound}}</td>
		            <td data-title="'2.Runde'"  class="text-center">{{result.secondRound}}</td>
		            <td data-title="'3.Runde'"  class="text-center">{{result.thirdRound}}</td> -->
		            <td data-title="'Gesamt'" sortable="'complete'" class="text-center">{{result.firstRound + result.secondRound + result.thirdRound}}</td>
		        </tr>
		    </table>
		</div>
	</div>
</div>

<div class="row"  ng-show="showAk65">
	<div class="col-md-5">
	<h2>AK65 Damen</h2>
		<div loading-container="ak65Lady.settings().$loading" class="row">
		    <table ng-table="ak65Lady" class="table table-striped table-hover table-bordered">
		        <tr ng-repeat="result in $data">
		            <td data-title="'Pos.'"  class="text-center">{{$index + 1}}</td>
		            <td data-title="'Vorname'"  class="text-center">{{result.firstName}}</td>
		            <td data-title="'Nachname'"  class="text-center">{{result.lastName}}</td>
		            <td data-title="'Loch'"  class="text-center">{{result.currentHole}}</td>
		            <!-- <td data-title="'Konkurrenz'"  class="text-center">{{result.discipline}}</td>
		            <td data-title="'1.Runde'"  class="text-center">{{result.firstRound}}</td>
		            <td data-title="'2.Runde'"  class="text-center">{{result.secondRound}}</td>
		            <td data-title="'3.Runde'"  class="text-center">{{result.thirdRound}}</td> -->
		            <td data-title="'Gesamt'" sortable="'complete'" class="text-center">{{result.firstRound + result.secondRound + result.thirdRound}}</td>
		        </tr>
		    </table>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<h2>AK65 Herren</h2>
		<div loading-container="ak65Men.settings().$loading" class="row">
		    <table ng-table="ak65Men" class="table table-striped table-hover table-bordered">
		        <tr ng-repeat="result in $data">
		            <td data-title="'Pos.'"  class="text-center">{{$index + 1}}</td>
		            <td data-title="'Vorname'"  class="text-center">{{result.firstName}}</td>
		            <td data-title="'Nachname'"  class="text-center">{{result.lastName}}</td>
		            <td data-title="'Loch'"  class="text-center">{{result.currentHole}}</td>
		            <!-- <td data-title="'Konkurrenz'"  class="text-center">{{result.discipline}}</td>
		            <td data-title="'1.Runde'"  class="text-center">{{result.firstRound}}</td>
		            <td data-title="'2.Runde'"  class="text-center">{{result.secondRound}}</td>
		            <td data-title="'3.Runde'"  class="text-center">{{result.thirdRound}}</td> -->
		            <td data-title="'Gesamt'" sortable="'complete'" class="text-center">{{result.firstRound + result.secondRound + result.thirdRound}}</td>
		        </tr>
		    </table>
		</div>
	</div>
</div>


