@()
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GC Tuniberg Clubmeisterschaften 2016</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/ng-table/ng-table.css")" />
    @*-- Add More CSS here -- *@
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")" />
    <script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
</head>
<body>
@*-- Header -- *@
<header class="navbar navbar-inverse navbar-fixed-top basics-nav" data-ng-cloak>
        <div class="navbar-more-overlay"></div>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		
		<div class="container">
			<div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </button>
				<img class="navbar-brand" src="@routes.Assets.versioned("images/logo.png")"/>
                <p class="navbar-brand">GC Tuniberg</p>
			</div>
            <div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right mobile-bar">
					<li>
					<a href="#/all" data-toggle="collapse" data-target=".navbar-collapse.in">
					    Alle
					</a>
				</li>
				<li>
					<a href="#/actives" data-toggle="collapse" data-target=".navbar-collapse.in">
						Aktive
					</a>
				</li>
				<li>
					<a href="#/ak35" data-toggle="collapse" data-target=".navbar-collapse.in">
						AK35
					</a>
				</li>
				<li>
					<a href="#/ak50" data-toggle="collapse" data-target=".navbar-collapse.in">
						AK50
					</a>
				</li>
				<li>
					<a href="#/ak65" data-toggle="collapse" data-target=".navbar-collapse.in">
						AK65
					</a>
				</li>
			</ul>
			</div>
		</div>
	</nav>
    
    
</header>
@* -- Main Content -- *@
<div class="container" data-ng-cloak>
    <div data-ng-view></div>
</div>
@*-- Footer -- *@
<footer data-ng-controller="FooterCtrl">
</footer>
</body>
</html>
